// + Working Files
// =============================================

// TEMPORARY :: EVERYTHING IN HERE IS AN OVERRIDE

#working-set-list-container {
  font-size: 14px;
}

.open-files-container a {
  font-size: 14px;
}


// + Auto-height working files
// =============================================

.open-files-container {
  max-height: initial;
}
