// + JS Tree Arrows
// =============================================

.jstree-open,
.jstree-closed {
  & > ins::before {
    content: @fa-var-chevron-right;
    font-family: FontAwesome;
    font-size: 10px;
    transition: transform 0.125s;
  }
}

.jstree-open > ins::before {
  transform: rotate(90deg);
}

.jstree-no-dots a ins {
  display: none;
}
