// + JS Tree
// =============================================

.jstree {
  ul {
    display: block;
    margin: 0; // Override
  }

  li {
    display: block;
    position: relative; // Needed for file selection
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;

    li {
      margin-left: 12px;
    }
  }

  a {
    display: block;
    padding: 4px 0;
  }
}
